<template>
  <div>
    <select name="docType">
    <option value="" selected disabled hidden>Select here..</option>
      <option
        id="a4"
        v-bind:value.prop="type.id"
        v-for="(type, index) in docTypes"
        :key="index"
        @click="setCurrentType(type.id)"
      >
        {{ type.value }}
      </option>
    </select>

    <!-- invoice params -->
    <div class="invoice" v-if="currentDocTypeId == '1'">
      <h2>Invoice Fields</h2>
      <div class="row">
        <div class="col">
          <label for="a5">Tax Base</label>
          <input name="taxBase" type="number" id="a5" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="a7">Vat</label>
          <input name="vat" type="number" id="a7" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="a6">Currency</label>
          <input name="currency" type="text" id="a6" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="a8">Price</label>
          <input name="price" type="number" id="a8" />
        </div>
      </div>
    </div>

    <!-- bank statement params  -->

    <div class="bankStatement" v-if="currentDocTypeId == '2'">
      <h2>Bank Statement Fields</h2>
      <div class="row mt-5">
        <div class="col">
          <label for="a9">Bank name</label>
          <input type="text" name="bankName" id="a9" />
        </div>
        <div class="col">
          <label for="a10">IBAN</label>
          <input type="text" name="iban" id="a10" />
        </div>
      </div>
    </div>

    <!-- credit note params  -->
    <div class="creditNotes" v-if="currentDocTypeId == '3'">
      <h2>Credit Note Fields</h2>
      <div class="row mt-5">
        <div class="col">
          <label for="a11">Note</label>
          <input name="note" type="text" id="a11" />
        </div>

        <div class="col">
          <label for="a12">Payment Type</label>
          <select name="paymentType" id="a12">
            <option value="1">Cash</option>
            <option value="2">Bank</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  mounted() {
    console.log("Fields Component mounted.");
  },

  data() {
    return {
    random:'12345',
      currentDocTypeId: "",
      docTypes: [
        {
          id: "1",
          value: "Invoice",
        },
        {
          id: "2",
          value: "Bank Statement",
        },
        {
          id: "3",
          value: "Credit Note",
        },
      ],
    };
  },

  methods: {
    setCurrentType(typeId) {
      this.currentDocTypeId = typeId;
    },
  },
};
</script>